

 .myheader
 {
     text-align:center;
     background: assets/css/big-one.jpg;
     
     
 }

.profile
{
    border-radius: 50%;
    
}

#about{
    text-align: center;
}

#Contacts{
    text-align: center;
    
}

#Images{
    text-align: center;
}


#Edu{

text-align: center;
color: black;

}

#Acads{
    text-align : center;
}

.card-body{
text-align : left;
}

.card-header{
text-align : center;
color :black;
}

#ack{
    text-align : center;
}
